<div class="row  m-3">
    <div class="col-md-4">
        <h4 class="head">Dashboard Overview</h4>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>
<div class="container sub-dash mt-3 p-4 mb-5">

    <div class="row">
        <div class="col-md-3">
            <div class="card-counter one">
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-bell " style="font-size: 55px;"></i>
                    </div>
                    <div class="col-6">
                        <span style="font-size: 20px;">Validation Pending<span class="badge bg-danger"
                                style="color: rgb(255, 255, 255);">4</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter two">
                <div class="row">
                    <div class="col-6">

                        <i class="fa fa-bell" style="font-size: 55px;"></i>
                    </div>
                    <div class="col-6">
                        <span style="font-size: 20px;">Notifications&nbsp;<span class="badge bg-danger"
                                style="font-size: 15px;">4</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter one ">
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-rss " style="font-size: 55px;"></i>
                    </div>
                    <div class="col-6">
                        <span style="font-size: 20px;">Subscriptions</span>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter two">
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-times-circle" style="font-size: 55px;"></i>
                    </div>
                    <div class="col-6">
                        <span style="font-size: 20px;">Expired Subscriptions</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Sub-Dashboard-->
    <div class="row">
        <div class="col-md-3">
            <label for="user" class="user_head"> User</label>
        </div>
        <div class="col-md-9"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card-counter two">
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-users" style="font-size: 55px;"></i>
                    </div>
                    <div class="col-6">
                        <span style="font-size: 20px;">Total User <span class="badge bg-danger"
                                style="color: rgb(255, 255, 255);">{{cnt}}</span></span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter one">
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-user" style="font-size: 55px;"></i>
                    </div>
                    <div class="col-6">
                        <span style="font-size: 20px;">Active User </span>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter two">
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-user " style="font-size: 55px;"></i>
                    </div>
                    <div class="col-6">
                        <span style="font-size: 20px;">Inactive User</span>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter one">
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-user" style="font-size: 55px;"></i>
                    </div>
                    <div class="col-6">
                        <span style="font-size: 20px;">Suspended User</span>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--Sub-DashBoard-->
    <div class="row">
        <div class="col-md-3">
            <label for="user" class="user_head"> Activities</label>
        </div>
        <div class="col-md-9"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card-counter one">
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-flag" style="font-size: 55px;"></i>
                    </div>
                    <div class="col-6">
                        <span style="font-size: 20px;">Total Activity</span>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter two ">
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-rss " style="font-size: 55px;"></i>
                    </div>
                    <div class="col-6">

                        <span style="font-size: 20px;">Active</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter one">
               <div class="row">
                   <div class="col-6">
                    <i class="fa fa-check-circle" style="font-size: 55px;"></i>
                   </div>
                   <div class="col-6">
                    <span style="font-size: 20px;">Completed</span>
                   </div>
               </div>
                
               
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter two">
               <div class="row">
                   <div class="col-6">
                    <i class="fa fa-minus-circle" style="font-size: 55px;"></i>
                   </div>
                   <div class="col-6">
                    <span style="font-size: 20px;">Expired</span>
                   </div>
               </div>
               
               
            </div>
        </div>


    </div>

    <!-- Sub-DashBoard -->

</div>