a{
    background-color: #263238;
    color: #ffffff;
    text-align:left;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;

}
.icon{
    padding: 10px;
    font-size: 18px;
}

ul{
    list-style-type: none;
    text-decoration: none;
}
