
        <div class="row">
                <div class="col-md-2">
                        <div class="list-group ">

                                <a (click)="dashB()" class="list-group-item list-group-item-action"><i
                                                class="fa fa-home fa-1x icon" aria-hidden="true"></i>Dashboard</a>
                                <a (click)="user()" class="list-group-item list-group-item-action"><i
                                                class="fa fa-users fa-1x icon" aria-hidden="true"></i>Membership </a>

                                <a (click)="event()" class="list-group-item list-group-item-action"><i class='fas fa-skating' style='font-size:18px'></i>&nbsp; Activities</a>
                                <!-- <a  class="list-group-item list-group-item-action"><i
                                                class="fa fa-users fa-1x icon" aria-hidden="true"></i>User
                                        Management</a> -->

                                <a (click)="account()" class="list-group-item list-group-item-action"><i class="fa fa-rupee fa-1x icon"
                                                aria-hidden="true"></i>Fee Payments</a>

                                <a href="#" class="list-group-item list-group-item-action"><i
                                                class="fa fa-file fa-1x icon" aria-hidden="true"></i>Reports</a>
                                <a (click)="sprt()" class="list-group-item list-group-item-action "><i
                                                class="fa fa-ticket fa-1x icon" aria-hidden="true"></i>Support</a>
                                <a  (click)="settings()"class="list-group-item list-group-item-action "><i class="fa fa-cog fa-1x icon"
                                                aria-hidden="true"></i>Settings</a>

                        </div>
                </div>
                <div class="col-md-10 ">
                        <router-outlet></router-outlet>

                </div>
        </div>

<!-- 
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" [opened]="isShowing">
        <div class="list-group ">
           
            <a (click)="dashB()" class="list-group-item list-group-item-action"><i class="fa fa-home fa-1x icon"
                    aria-hidden="true"></i>Dashboard</a>
            <a (click)="user()" class="list-group-item list-group-item-action"><i class="fa fa-users fa-1x icon"
                    aria-hidden="true"></i>Membership </a>

            <a (click)="event()" class="list-group-item list-group-item-action"><i class="fa fa-user fa-1x icon"
                    aria-hidden="true"></i>Activities</a>
            <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-users fa-1x icon"
                    aria-hidden="true"></i>User Management</a>

            <a class="list-group-item list-group-item-action"><i class="fa fa-rupee fa-1x icon"
                    aria-hidden="true"></i>Accounts</a>

            <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-file fa-1x icon"
                    aria-hidden="true"></i>Reports</a>
            <a (click)="sprt()" class="list-group-item list-group-item-action "><i class="fa fa-ticket fa-1x icon"
                    aria-hidden="true"></i>Support</a>
            <a class="list-group-item list-group-item-action "><i class="fa fa-cog fa-1x icon"
                    aria-hidden="true"></i>Settings</a>
          
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        
     <button class="custom-btn btn-15" (click)="toggleSidenav()" >Menu</button>
     
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->